.header {
  background-color: #003580;
  color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItems {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerListItems.active {
  border: 2px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDescription {
  margin: 20px 0;
}

.headerBtn {
  background-color: #0071c2;
  padding: 8px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, 0.25);
}

.headerSearch {
  height: 50px;
  background-color: #fff;
  border: 3px solid #febb02;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border-radius: 10px;
  padding: 5px;
  border: 1px solid lightgray;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
}

.option {
  position: absolute;
  top: 50px;
  background-color: #fff;
  color: gray;
  border-radius: 5px;
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, 0.25);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid #0071c2;
  color: #0071c2;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, 0.25);
}