@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.navbar{
    height: 90px;
    background-color: #FF5D5D;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Cedarville Cursive', cursive;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    color: #FF5D5D;
    box-shadow: 0 8px 24px hsla(228, 66%, 45%, 0.15);
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500;
}

.navButton:hover{
    box-shadow: 0 4px 8px hsla(
        228, 66%, 45%, .25);
}